ul {
    /* border: 1px red solid; */
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 1.6rem;
}

li {
    width: 200px;
    border: 1px black solid;
    border-radius: 24px;
}

li:hover {
    border: 3px maroon solid;
}

img {
    object-fit: scale-down;
    width: 200px;
    height: 100%;
}