textarea, pre {
  width: 100%;
  text-overflow: wrap;
  padding: 10px;
  resize: none;
  background-color: black;
  color: yellow;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 100% !important;
  margin: 0;
  font-size: 14px;
  text-align: left;
}

button {
  background-color: transparent;
  font-weight: bold;
  width: max-content;
  margin-top: 0.5rem;
}
button:hover {
  background-color: black;
  color: yellow;
}

#main-api-container{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    border-radius: 24px;
    border: 1px white solid;
    min-height: 100vh !important;
    min-width: 60%;
}

#internal-container {
    padding:0;
    margin:0;
    width: 100%;
    min-height: 100% !important;
    align-items: center;
}

#main-token-container {
    margin: 0;
    display: flex;
    min-height: 100% !important;
    flex-direction: column;
    text-align: left;
}

#get-token-container {
    min-width: max-content;
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    text-align: left;
}

#get-token-container > * {
    margin: 1rem;
}

#get-token-container > button {
    align-self: center;
}

#inner-token-container {
    display: grid;
    grid-template-areas:
        "a b";
        grid-template-columns: 50%;
        min-height: 100% !important;
    margin: 1.2rem 0;
}

#raw-token-container {
    grid-area: a;
}
#claims-container {
    grid-area: b;

}
.data-container {
    display:flex;
    flex-direction: column;
    margin: 1rem;
}

#api-container {
    min-width: max-content;
    max-width: 60%;
    margin: 1rem;
    text-align: left;
}

#call-api-container {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
}

.method {
    font-weight: bold;
}

.error {
    margin-top: 15rem;
}