ul {
    /* border: 1px red solid; */
    list-style-type: none;
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    /* align-items: space-between; */
    padding: 0;
    margin: 1.6rem;
    flex-wrap: wrap;
    /* height: 100%; */
}

li {
    width: 200px;
    border: 1px black solid;
    border-radius: 24px;
    margin: 0.6rem;
}

li:hover {
    border: 3px maroon solid;
}

img {
    object-fit: scale-down;
    width: 200px;
    height: 150px;
}