@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
:root {
    --core-font: 'Monda', serif;
}
#okta-sign-in * {
    color: white !important;
}

#okta-sign-in .o-form .input-fix input[type=number], #okta-sign-in .o-form .input-fix input[type=password], #okta-sign-in .o-form .input-fix input[type=tel], #okta-sign-in .o-form .input-fix input[type=text], #okta-sign-in .o-form .input-fix input[type=textbox] {
    color: black !important;
}

#okta-sign-in .authenticator-row .authenticator-button .button {
    color: black !important;
    font-weight: 1000px !important;
}
#okta-sign-in .okta-form-title {
    font-weight: 1000px !important;
    font-size: 1.1rem !important;
    /* color: white !important; */
}

#okta-sign-in .auth-content {
    font-family: var(--core-font);
    /* color: white !important; */
}

#okta-sign-in.auth-container.main-container {
    border-radius: 16px;
    /* width: 50rem; */
    background-color: #1B1C1D;
    /* color: white !important; */
}

#okta-sign-in .o-form .o-form-input .o-form-control {
    border-radius: 16px;
    width: inherit;
    color: black !important;
}

#okta-sign-in.auth-container .button-primary {
    /* background: #1f9081;
    border-color: #1f9081; */
    font-weight: bold;
    border-radius: 16px;
    /* color: white !important; */
}